<h2 class="cart-stuff">Shopping Cart</h2>
<ul id="cart-list">
{{#each items as |item|}}
  <li>{{item.name}} -- ${{item.price}}<button id="cart-button" {{action 'remove' item}}>Remove From Cart</button></li>
{{/each}}
</ul>


<div class="cart-stuff">
  <p>Total Price: ${{priceSum}}</p>
</div>

<button id="checkout-button">Checkout!</button>
