{{#link-to 'item' item.id}}
  <div class="tile-container">
    <ul class="img-list">
      <li>
        <img class="tile-images" src='{{item.image}}'>
        <div class="v-align">
          <span class="text-tile"><span>{{item.name}} ${{item.price}}</span></span>
        </div>
      </li>
    </ul>
  </div>
{{/link-to}}
