.images {
  height: 200px;
}
.header {
  text-align: center;
  font-size: 65px;
}

.boxModel {
 margin-left: 50px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 25px;
  background-color: #e6ffff;

}
body {
  background-color: #00cccc;
  font-family: 'Walter Turncoat', cursive;
}
.left {
  float: left;
}
.row {
  display: inline;
}
ul {
  list-style: none;
}
ul li {
  margin: 50px;
  margin-left: 10px;
  font-size: 20px;
}
