body {
  background-color: #00cccc;
  font-family: 'Walter Turncoat', cursive;
}
.images {
  height: 180px;
}
ul {
  list-style-type: none;
}
a {
  color: black;
}

/** NavBar-Side **/
.right-float {
  float:right;
  margin-right: 50px;
  margin-bottom: 50px;
}
.navbar {
  height: 195vh;
  background-color: white;
  margin: 0px auto;
  border: 2px solid black;
}
#navbar-title {
  width: 100%;
}
#margin-left {
  margin-left: 10px;
}
ul#navbar-list {
  font-size: 18px;
}
.nav-list {
  margin-top: 20px;
  margin-left: -20px;
}
.left {
  margin-top: -1%;
  margin-left: -2%;
}

/**NavBar-Top**/
.navbar-top {
  background-color: white;
  margin-bottom: 20px;
  border: 2px black solid;
  border-radius: 5px;
  height: 150px;
}
.header {
  text-align: center;
  font-size: 65px;
}

/**Index Page Styling**/
.tile-container {
  height: 180px;
  width: 180px;
  position: relative;
  border: 2px black solid;
  border-radius: 5px;
}
.col-md-2 {
  margin: 30px;
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.img-list li {
  display: inline-block;
  height: 175px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 175px;
}
span.text-tile {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 175px;
  opacity: 0;
  font-size: 22px;

 -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

ul.img-list li:hover span.text-tile {
  opacity: 1;
}
.tile-images {
  height: 175px;
  width: 175px;
}

.boxModel {
  margin-left: 100px;
  height: 195vh;
  margin-top: -1%;
  margin-left: 4%;
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  background-color: #e6ffff;
}
.col-sm-2 {
  margin-top: -.7%;
}
.item-link {
  margin-left: 30px;
  text-decoration: none;
  font-size: 25px;
}
.adminPic {
  height: 20px;
}
.adminPic:hover {
  height: 100px;
}
.block-it {
  display: inline-block;
}
.add-form {
  display: block;
}
.text-tile {
  padding-top: 60px;
  padding-bottom: 6px;
}

/**Admin Page**/
.add-bubble {
  background-color: white;
  margin: 2%;
  height: 900px;
  border: 2px black solid;
  border-radius: 5px;
}
label {
  margin: 5px;
  font-size: 18px;
}
textarea {
  height: 200px;
  width: 350px;
  padding: 0;
  margin: 0;
}
input {
  width: 100%;
}

/**Admin-List**/
.admin-list {
    height: 200px;
    width: 500px;
    background-color: white;
    border: 2px black solid;
    border-radius: 5px;
}

/**Cart stuff**/
.remove {
  margin: 20px;
}

/**Item Detail Pages**/
#detail-image {
  margin-top: 20px;
}
#image-detail {
  height: 500px;
  border: 2px black solid;
  border-radius: 5px;
}
#detail-title {
  font-size: 40px;
}
#description-detail {
  margin-top: 50%;
  font-size: 22px;
  padding-bottom: 20px;
}
#add-cart {
  float: right;
  height: 50px;
  width: 100%;
  border-radius:5px;
  background-color: #BE90D4;
  color: white;
  font-size: 30px;
}
#detail-box {
  height: 500px;
  float: right;
}
/**Category-Detail**/
#category-header {
  font-size: 75px;
}
#category-images {
  height: 300px;
}
.col-sm-3 {
  width: 200px;
  margin: 30px;
}

/**Shopping Cart**/
.cart-stuff {
  font-size: 40px;
}
#cart-button {
  width: 280px;
  height: 40px;
  font-size: 22px;
  margin: 20px;
  border-radius: 5px;
  background-color: #F62459;
  color: white;
}
#checkout-button {
  width: 200px;
  height: 40px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #F1A9A0;
  color: white;
}
#cart-list {
  font-size: 22px;
}
