<header>
  <div class="nav navbar-top">
    <div>
      <h1 class="header">Plastic of the Past</h1>
    </div>
    <div class="right-float">
      {{#link-to 'admin'}}Admin{{/link-to}} |
      {{#link-to 'index'}}Home{{/link-to}} |
      {{#link-to 'cart'}}Shopping Cart{{/link-to}}
    </div>
  </div>
</header>

<div class="row col-sm-2 left">
  {{partial 'navbar'}}
</div>
<div class="row col-sm-10">
  <div class="boxModel">
    {{outlet}}
  </div>
</div>
