  <div class="row col-md-8 boxModel">
    {{#each model.items as |item|}}
      <div class="row col-sm-4">
        <div class="box-the-items container-fluid">
          {{item-tile item=item}}
        </div>
      </div>
    {{/each}}
  </div>
