<div class="row col-md-8">
  {{#each model.items as |item|}}
    <div class="row col-md-3">
      <div class="container-fluid">
        {{item-tile item=item}}
      </div>
    </div>
  {{/each}}
</div>
