<div class="container-fluid">
  <nav class="navbar navbar-fixed-side">
    <h2>Search by Category</h2>
    <ul>
        <li><a href="/category/0">Video Games</a></li>
        <li><a href="/category/1">Dolls</a></li>
        <li><a href="/category/2">Builders</a></li>
        <li><a href="/category/3">Franchises</a></li>
        <li><a href="/category/4">Furbies</a></li>
        <li><a href="/category/5">Beanie Babies</a></li>
        <li><a href="/category/6">Miscellaneous</a></li>
    </ul>
  </nav>
</div>
